body {
    margin: 0;
    font-family: Lato, Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.group {
    display: flex;
    justify-content: space-between;
}

.navbar {
    background: linear-gradient(90deg, #1d2540 4%, #02498e 94%);

    .nav-link,
    a {
        color: white;
    }
}

.card {
    box-shadow: 0px 3px 8px -5px black;
    transition: 0.1s;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0px 3px 8px -6px black;
    }
}

.btn-banner {
    background: transparent;
    color: white;
    border: 1px solid white;
    transition: 0.2s;
    margin-top: 1em;
    width: 140px;

    &:hover {
        background: #f57f20;
        color: white;
    }
}
